@import "mixins/constants";
@import "mixins/wave";

::-webkit-scrollbar {
	width: 13px;
	height: 13px;
	
	&-thumb {
		background: $color-primary;
		/*border-radius: 0 0 5px 5px;*/
	}
	
	&-thumb:hover{
		background: rgba($color-primary, 0.5);
	}

	&-track{
		background: $color-back;
		/*border-radius: 10px;*/
		box-shadow: inset 7px 10px 12px #f0f0f0;
	}
}

::selection {
	background-color: $color-primary;
	color: $color-back;
}

input, textarea, select {
	&:focus {
		outline: none;
	}
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-secondary;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $color-primary;
	padding: 20px 30px;
	font-family: $font-primary;
	user-select: none;

	.title {
		display: flex;
		align-items: center;
		text-decoration: none;

		&__icon {
			width: 50px;
			height: 50px;
		}

		&__text {
			margin: 0 0 0 20px;
			font-size: 2.6em;
			color: $color-back;
		}

		&:hover {
			cursor: pointer;
		}
	}

	.nav {
		display: flex;
		align-items: center;

		&__element {
			display: flex;
			align-items: center;
			text-decoration: none;
			color: $color-back;
			background: $color-primary;
			padding: 6px 15px;
			margin: 0 20px;
			border-radius: 50px;

			transition-duration: color 0.2s ease-in-out 0s;

			&--selected {
				color: $color-primary;
				background-color: $color-back;
			}

			&:hover {
				cursor: pointer;
				color: $color-secondary;

				&:not(.nav__element--selected) {
					@include wave($color-back, empty);
				}
			}

			p {
				font-family: $font-primary;
				font-size: 1.9em;
				margin: 0;
			}
		}
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	.footer {
		display: flex;
		align-items: center;

		&__element {
			margin: 0 50px;
			color: $color-secondary;
			font-size: 0.9em;
			text-decoration: none;
		}
	}
}