@import "mixins/actionnav";
@import "mixins/geometry";

@include actionnav;

$album-width: 1000px;
$album-height: 550px;

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.album {
	display: flex;
	position: relative;

	background-color: var(--color-blue);
	background-image: url("../img/album_texture.png");

	border: 2px outset var(--color-blue);
	border-radius: 5px;

	width: $album-width;
	height: $album-height;
	
	padding: 10px;
	margin: 40px;
	user-select: none;

	&__picture {
		max-width: 180px;
		max-height: 180px;
		transition-duration: 0.2s;
		border: 5px solid transparent;
		transition-property: border, box-shadow, max-width, max-height, filter;

		&--selectable {
			border-color: var(--color-white);
			box-shadow: 0 0 10px var(--color-shadow3);
			animation: shake 0.5s;
		}

		&--selected {
			filter: grayscale(100%);
			max-height: 100px;
			max-width: 100px;
		}
	}

	&__sheet {
		position: absolute;
		left: 50%;
		top: 2%;
		width: 48%;
		height: 96%;
		
		transform-origin: left;
		transform-style: preserve-3d;
		
		transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
		transition-property: transform, z-index;
		z-index: 0;
		box-shadow: 0 0 10px var(--color-shadow3);

		&--visible {
			z-index: 1;
		}

		&--rotated {
			transform: rotateY(-180deg);
		}
	}

	&__page {
		position: absolute;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;
		
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		overflow: hidden;
		
		background-color: var(--color-white);
		backface-visibility: hidden;

		&--front {
			background-image: linear-gradient(90deg, rgba(150, 150, 150, 1) 0%, rgba(207, 207, 207, 1) 0.5%, rgba(227, 227, 227, 0.8) 18%, rgba(247, 247, 247, 0.3) 35%, rgba(207, 207, 207, 0.4) 100%);
		}

		&--back {
			transform: rotateY(180deg);
			background-image: linear-gradient(-90deg, rgba(150, 150, 150, 1) 0%, rgba(207, 207, 207, 1) 0.5%, rgba(227, 227, 227, 0.8) 18%, rgba(247, 247, 247, 0.3) 35%, rgba(207, 207, 207, 0.4) 100%);
		}

		&--title {
			background-image: linear-gradient(90deg, rgba(207, 207, 207, 0.5) 0%, rgba(247, 247, 247, 0.2) 12%);
		}

		&--last {
			background-image: linear-gradient(-90deg, rgba(247, 247, 247, 0.2) 12%, rgba(207, 207, 207, 0.5) 35%, rgba(247, 247, 247, 0) 90%);
		}

		> * {
			align-self: center;
			justify-self: center;
		}
	}

	&__bgline {
		position: absolute;
		top: 0;
		width: 4px;
		height: 100%;
		background-color: var(--color-black1);
		z-index: 0;

		&--left {
			left: 48%;
		}

		&--right {
			right: 48%;
		}
	}
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}