@import "mixins/constants";
@import "mixins/button";

@include button;

::selection {
	background-color: $color-secondary;
	color: $color-back;
}

body {
	background-color: $color-primary;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

section {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	display: flex;
	align-items: center;
	
	font-family: $font-primary;
	color: $color-back;

	.image {
		width: 400px;
		height: 300px;
		margin: 40px;
		user-select: none;
	}

	.description {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&__title {
			font-size: 3.4em;
			margin: 0 0 30px 0;
		}

		&__text {
			font-size: 2em;
			margin: 15px 0;
			white-space: nowrap;
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;

	.footer {
		display: flex;
		align-items: center;

		&__element {
			margin: 0 50px;
			color: $color-back;
			font-family: $font-secondary;
			font-size: 0.9em;
			text-decoration: none;
		}
	}
}