@import "mixins/constants";
@import "mixins/actionbar";
@import "mixins/contentnav";

@include actionbar;

$album-margin: 15px;
$transition-speed: 0.1s;

body {
	overflow-x: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin-top: 40px;

	.library {
		display: flex;
		align-items: center;
		width: 100%;
		height: $album-height;
		overflow: hidden;
		
		.album {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			justify-content: center;

			width: $album-width * 0.5;
			height: $album-height * 0.5;

			background-color: $color-primary;
			border-radius: 0 30px 30px 0;
			box-shadow: 0px 3px 6px rgba(#000000, 0.16);

			position: absolute;
			transform: translate(-50%, 0);
			left: -50%;

			transition: left (2 * $transition-speed) ease-out $transition-speed;

			&--next ~ .album {
				left: 150%;
			}

			&__bgline {
				position: absolute;
				left: 8%;
				top: 0;
				width: 3px;
				height: 100%;
				background-color: rgba($color-back, 0.3);
				transition: width (2 * $transition-speed) ease-out 0s;
			}

			&__cover {
				max-width: 70%;
				max-height: 70%;
			}

			&__title {
				position: absolute;
				left: 50%;
				bottom: 5%;
				transform: translate(-50%, 0);
				font-family: $font-primary;
				font-size: 1.6em;
				color: $color-back;

				transition: font-size $transition-speed ease-out 0s;

				&--alone {
					position: static;
					left: 0;
					bottom: 0;
					transform: none;
				}
			}

			&--previous {
				left: 10%;
				transition: width $transition-speed ease-out 0s,
					height $transition-speed ease-out 0s,
					left (2 * $transition-speed) ease-out $transition-speed;
			}

			&--current {
				width: $album-width;
				height: $album-height;
				left: 50%;

				transition: left (2 * $transition-speed) ease-out $transition-speed,
					width $transition-speed ease-out (3 * $transition-speed),
					height $transition-speed ease-out (3 * $transition-speed);

				.album__bgline {
					width: 6px;
					transition: width $transition-speed ease-out (3 * $transition-speed);
				}

				.album__title {
					font-size: 3.2em;
					transition: font-size $transition-speed ease-out (3 * $transition-speed);
				}
			}

			&--next {
				left: 90%;
				transition: width $transition-speed ease-out 0s,
					height $transition-speed ease-out 0s,
					left (2 * $transition-speed) ease-out $transition-speed;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}

	.contentnav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: $album-width;

		@include contentnav;
	}
}