@import "mixins/constants";
@import "mixins/sectiontitle";
@import "mixins/input";
@import "mixins/button";

@include sectiontitle;
@include input;
@include button;

.sectiontitle {
	margin: 50px 0;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 40px;

		> * {
			margin: 15px;
		}

		&--row {
			flex-direction: row;
			justify-content: space-around;
		}
	}
}