{% extends 'gallery/base.html' %}{% load static %}{% load sass_tags %}{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'gallery/css/actionnav.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'gallery/css/album.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'gallery/css/gallery.scss' %}">
{% endblock %}{% block section %}
{% include 'widgets/actionnav.html' %}
<div class="albumview">
	{% include 'widgets/album.html' %}{% endblock %}{% block script %}
</div>
<script type="text/javascript" src="{% static 'gallery/js/actionnav.js' %}"></script>
<script type="text/javascript" src="{% static 'gallery/js/album.js' %}"></script>
{% endblock %}