{% extends 'gallery/base.html' %}
{% load static %}
{% block body %}
	<div class="infobasepage">
		<div class="infobasecontainer">
			{% include 'components/cloud.html' with cls="infobasecontainer__image" %}
			<div class="infobasecontainer__description">
				<h2 class="infobasecontainer__title">{{ title }}</h2>
				<p class="infobasecontainer__text">{{ description }}</p>
				{% url 'gallery:gallery' as link %}
				{% with 'window.location.href = "'|add:link|add:'";' as function %}
					{% include 'components/button.html' with function=function text='Accueil' style='inverted' id="home-button" %}
				{% endwith %}
			</div>
		</div>
		{% include 'layouts/footer.html' with cls='footer--infobase' %}
	</div>
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{% static 'gallery/js/pages/infobase.js' %}"></script>
{% endblock %}