{% extends 'gallery/base.html' %}

{% block content %}
<div id="login">
	<div class="title">
		<h2>Connectez-vous</h2>
	</div>
	<form class="content" action="{% url 'gallery:login' %}" method="post">
		{% csrf_token %}
		<div>
			<label for="{{ form.email.id_for_label }}">Email</label>
			{{ form.email }}
		</div>
		<div>
			<label for="{{ form.password.id_for_label }}">Mot de passe</label>
			{{ form.password }}
		</div>
		<div>
			<input type="button" name="signin" value="Créer un compte">
			<input type="submit" name="submit" value="Se connecter">
		</div>
	</form>
	{% for key, error in errors %}
		{% autoescape off %}
			{{ error }}
		{% endautoescape %}
	{% endfor %}
</div>
{% endblock %}