{% extends 'gallery/base.html' %}
{% load static %}
{% block body %}
	{% include 'layouts/header.html' %}
	{% include 'layouts/actionbar.html' %}
	<div class="picturecontainer">
		<img class="picture" src="{{ picture.image.url }}">
		{% include 'layouts/notebook.html' %}
	</div>
	{% include 'layouts/footer.html' %}
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{% static 'gallery/js/layouts/actionbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'gallery/js/pages/picture.js' %}"></script>
{% endblock %}