{% extends 'gallery/base.html' %}
{% load static %}{% load sass_tags %}{% load gallery %}
{% block style %}
	<link rel="stylesheet" type="text/css" href="{% sass_src 'gallery/css/settings.scss' %}">
{% endblock %}
{% block section %}
	<div class="section">
		{% include 'mixins/sectiontitle.html' with text="Compte" subtext="Tu peux changer tes informations de connexion ici" %}
		<form method="post" action="{% url 'gallery:settings' %}">
			{% csrf_token %}
			<div class="section__content">
				<input class="input" type="text" name="username" placeholder="Nom d'utilisateur">
				<input class="input" type="password" name="password" placeholder="Mot de passe">
				<input class="input" type="password" name="confirm_password" placeholder="Confirmer le mot de passe">
			</div>
			<div class="section__content section__content--row">
				<span class="button button--negative">
					<input type="button" name="delete" value="Supprimer">
				</span>
				<span class="button">
					<input type="button" name="logout" value="Se déconnecter">
				</span>
				<span class="button">
					<input type="submit" name="submit" value="Enregistrer">
				</span>
			</div>
		</form>
	</div>
{% endblock %}