{% extends 'gallery/base.html' %}
{% load static %}
{% block body %}
	{% include 'layouts/header.html' %}
	<section class="settingscontainer">
		{% include 'layouts/sectiontitle.html' with text='Compte' subtext='Tu peux changer tes informations de connexion ici' %}
		<form method="post" action="{% url viewName %}" id="action-form" class="form">
			<div class="form__content">
				{% csrf_token %}
				{% include 'components/input.html' with type='password' name='new_password1' placeholder='Nouveau mot de passe' autocomplete='new-password' %}
				{% include 'components/input.html' with type='password' name='new_password2' placeholder='Confirmer le nouveau mot de passe' autocomplete='new-password' %}
				{% include 'components/dialog.html' with id='oldPasswordDialog' %}
				{% include 'components/dialog.html' with id='logoutDialog' %}
				<input type="hidden" name="action" value="" id="action-input">
			</div>
			<div class="form__content form__content--row">
				{% include 'components/button.html' with function='settingsDelete();' text='Supprimer' style='negative' %}
				{% include 'components/button.html' with function='settingsLogout();' text='Se déconnecter' %}
				{% include 'components/button.html' with function='settingsSave();' text='Enregistrer' %}
			</div>
		</form>
	</section>
	{% include 'layouts/footer.html' %}
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{% static 'gallery/js/pages/settings.js' %}"></script>
{% endblock %}