{% extends 'gallery/base.html' %}
{% load static %}
{% block body %}
	{% include 'layouts/header.html' %}
	{% include 'layouts/actionbar.html' %}
	<div class="albumcontainer">
		{% include 'layouts/album.html' %}
		{% include 'layouts/contentnav.html' with textPrevious='Page précédente' textNext='Page suivante' text=album.name.capitalize %}
	</div>
	{% include 'layouts/footer.html' %}
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{% static 'gallery/js/layouts/actionbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'gallery/js/layouts/contentnav.js' %}"></script>
	<script type="text/javascript" src="{% static 'gallery/js/pages/album.js' %}"></script>
{% endblock %}