{% load compress %}{% load static %}{% load sass_tags %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		{% compress css %}
			<link rel="stylesheet" type="text/css" href="{% sass_src 'gallery/css/main.scss' %}">
		{% endcompress %}
	</head>
	<body> 
		{% block body %}{% endblock %}
		{% include 'components/dialog.html' with id='baseDialog' %}
		<script type="text/javascript" src="{% static 'gallery/js/components/dialog.js' %}"></script>
		<script type="text/javascript" src="{% static 'gallery/js/pages/base.js' %}"></script>
		{% if message %}
			<script type="text/javascript">alert('{{ message }}');</script>
		{% endif %}
		{% block script %}{% endblock %}
	</body>
</html>