{% extends 'gallery/base.html' %}
{% load static %}
{% block body %}
	{% include 'layouts/header.html' %}
	{% include 'layouts/actionbar.html' %}
	<div class="librarycontainer">
		<div class="covers">
			{% for album in albums %}
				{% include 'layouts/cover.html' %}
			{% endfor %}
		</div>
		{% include 'layouts/contentnav.html' with textPrevious='Album précédent' textNext='Album suivant' %}
	</div>
	{% include 'components/dialog.html' with id='libraryDialog' %}
	{% include 'layouts/footer.html' %}
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{% static 'gallery/js/layouts/actionbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'gallery/js/layouts/contentnav.js' %}"></script>
	<script type="text/javascript" src="{% static 'gallery/js/pages/library.js' %}"></script>
{% endblock %}