<div class="inputdialog" style="height: 0px; opacity: 0;">
	<div class="inputdialog__header">
		<p>Input dialog</p>
	</div>
	<div class="inputdialog__body">
		<input type="text" name="inputdialog-content" id="inputdialog-content" class="input">
		<div class="inputdialog__nav">
			<span class="button button--negative" onclick="inputDialogCancel();">
				<p>Annuler</p>
			</span>
			<span class="button" id="inputdialog-accept" onclick="inputDialogAccept();">
				<p>Valider</p>
			</span>
		</div>
	</div>
</div>