@font-face {
	font-family: "Arial Rounded Bold";
	src: url("../fonts/arlrdbd.ttf");
}

@font-face {
	font-family: "Valentime";
	src: url("../fonts/valentime.otf");
}

@font-face {
	font-family: "Cream Cake";
	src: url("../fonts/cream_cake.otf");
}