@import "constants";
@import "wave";

@mixin actionbar {
	.actionbar {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;
		border-radius: 0 0 50px 50px;
		background-color: $color-back;
		box-shadow: $shadow-primary;
		padding: 0 20px;
		overflow: hidden;

		input:focus,
		textarea:focus,
		select:focus,
		button:focus {
			outline: none;
		}

		&__nav,
		&__search {
			display: flex;
			margin-left: 10px;
		}

		&__element {
			transition-duration: 0.2s;

			&:hover {
				cursor: pointer;
			}

			img {
				width: 20px;
				filter: invert(48%) sepia(6%) saturate(19%) hue-rotate(331deg) brightness(88%) contrast(85%);
				transition: filter 0.2s;
			}

			&--disabled {
				&:hover {
					cursor: not-allowed;
				}

				img {
					filter: invert(93%) sepia(0%) saturate(437%) hue-rotate(135deg) brightness(93%) contrast(91%);
				}
			}
		}

		&__button {
			border: none;
			background-color: transparent;
			padding: 15px 20px;

			&:hover:not(.actionbar__element--disabled) {
				@include wave(rgba($color-primary, 0.4));

				img {
					filter: invert(100%);
				}
			}
		}

		&__label {
			background-color: rgba($color-primary, 0.2);
			margin: 10px 20px 10px 10px;
			padding: 2px 10px 2px 12px;
			border-radius: 50px;
			box-sizing: border-box;
			display: flex;
			align-items: center;

			&:hover {
				cursor: text;

				@include wave(rgba($color-primary, 0.2), empty);
			}

			input {
				border: none;
				width: 350px;
				background-color: transparent;
				color: $color-secondary;
				/*transition-duration: 0.2s;*/
				font-size: 1.6em;
				font-family: $font-primary;

				&:focus {
					/*width: 700px;
					transition-duration: 0.2s;*/
				}
			}

			img:hover {
				cursor: pointer;
			}
		}
	}
}