@mixin actionnav {
	.actionnav {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-blue5);
		box-shadow: 0px 1px 4px gray;

		input:focus,
		textarea:focus,
		select:focus,
		button:focus {
			outline: none;
		}

		&__inside {
			display: flex;
			margin-left: 10px;
		}

		&__element {
			&:hover {
				cursor: pointer;
			}

			img {
				width: 0.5cm;
				filter: invert(50%);
				transition-duration: 0.2s;
			}

			&--disabled {
				&:hover {
					cursor: not-allowed;
				}

				img {
					filter: invert(75%);
					transition-duration: 0.2s;
				}
			}
		}

		&__button {
			border: none;
			background-color: transparent;
			padding: 15px 20px;

			&:hover:not(.actionnav__element--disabled) {
				background-color: var(--color-black1);
				transition-duration: 0.2s;

				img {
					filter: invert(100%);
					transition-duration: 0.2s;
				}
			}
		}

		&__label {
			/*border-bottom: 2px solid var(--color-white);*/
			background-color: var(--color-white5);
			margin: 10px 20px 10px 10px;
			padding: 5px 10px 5px 5px;
			border-radius: 5px;
			box-sizing: border-box;
			display: flex;
			align-items: center;

			&:hover {
				background-color: var(--color-white8);
				cursor: text;
				transition-duration: 0.2s;
			}

			input {
				border: none;
				width: 350px;
				background-color: transparent;
				color: var(--color-black5);
				transition-duration: 0.2s;
				font-size: 1em;

				&:focus {
					width: 700px;
					transition-duration: 0.2s;
				}
			}

			img:hover {
				cursor: pointer;
			}
		}
	}
}