@import "constants";

@mixin contentnav {
	position: relative;

	&__element {
		display: flex;
		align-items: center;
		user-select: none;
		filter: invert(48%) sepia(6%) saturate(19%) hue-rotate(331deg) brightness(88%) contrast(85%);

		p {
			font-family: $font-primary;
			font-size: 1.2em;
			margin-left: 5px;
			margin-right: 5px;
		}

		img {
			height: 1.2em;
		}

		&--disabled {
			filter: invert(93%) sepia(0%) saturate(437%) hue-rotate(135deg) brightness(93%) contrast(91%);
		}

		&:hover {
			cursor: pointer;

			&.contentnav__element--disabled {
				cursor: not-allowed;
			}
		}
	}

	&__info {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: $font-primary;
		font-size: 1.8em;
		color: $color-secondary;
		margin: 0;
	}
}