@mixin slab($width, $height, $depth, $x:0, $y: 0, $z: 0) {
	transform-style: preserve-3d;

	.face {
		position: absolute;
		top: 0;
		left: 0;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		box-shadow: inset 0 0 75px 1.5px rgba(0, 0, 0, .1);

		&.top {
			width: $width;
			height: $depth;
			transform-origin: top;
			transform: translateX($x) translateY($y) translateZ($z) rotateX(90deg);
		}

		&.front {
			width: $width;
			height: $height;
			transform: translateX($x) translateY($y) translateZ($z + $depth);
		}

		&.bottom {
			width: $width;
			height: $depth;
			transform-origin: bottom;
			transform: translateX($x) translateZ($z) translateY($y + $height - $depth) rotateX(-90deg);
		}

		&.back {
			width: $width;
			height: $height;
			transform: translateX($x) translateY($y) translateZ($z) rotateX(180deg);
		}

		&.left {
			width: $depth;
			height: $height;
			transform-origin: left;
			transform: translateX($x) translateY($y) translateZ($z) rotateY(-90deg);
		}

		&.right {
			width: $depth;
			height: $height;
			transform-origin: left;
			transform: translateX($x + $width) translateY($y) translateZ($z + $depth) rotateY(90deg);
		}
	}
}