@import "constants";
@import "button";
@import "input";

@mixin infodialog {
	.infodialog {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9999;

		background: $color-back;
		box-shadow: $shadow-primary;
		border-radius: $inputdialog-border-radius;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;

		&__header {
			display: flex;
			justify-content: center;
			align-items: center;
			background: $color-primary;
			border-radius: $inputdialog-border-radius $inputdialog-border-radius 0 0;
			padding: 10px 0;
			margin-bottom: 40px;
			width: 100%;
			
			p {
				color: $color-back;
				font-family: $font-primary;
				font-size: 1.8em;
				margin: 0;
			}
		}

		&__body {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 20px 20px 20px;
			box-sizing: border-box;

			@include button;

			> p {
				max-width: 500px;
				min-width: 300px;
				text-align: center;
				color: $color-secondary;
				font-family: $font-primary;
				font-size: 1.8em;
				margin: 0;
			}

			.button {
				padding: 4px 26px;
			}
		}

		&__nav {
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 40px;
			width: 100%;
		}
	}
}