{% extends 'gallery/base.html' %}
{% load static %}
{% block body %}
	{% include 'layouts/header.html' %}
	<section class="registercontainer">
		{% include 'layouts/sectiontitle.html' with text="Créer un compte" subtext="Crée un compte pour ouvrir un nouveau nuage de souvenirs" %}
		<form method="post" action="{% url 'gallery:register' %}" id="register-form" class="form">
			{% csrf_token %}
			<div class="form__content">
				{% include 'components/input.html' with name="username" placeholder="Nom d'utilisateur" autocomplete="username" %}
				{% include 'components/input.html' with type="password" name="password1" placeholder="Mot de passe" autocomplete="new-password" %}
				{% include 'components/input.html' with type="password" name="password2" placeholder="Confirmer le mot de passe" autocomplete="new-password" %}
			</div>
			<div class="form__content form__content--row">
				{% include 'components/button.html' with text='Allons-y' id='button-submit' type='submit' %}
			</div>
		</form>
	</section>
	{% include 'layouts/footer.html' %}
{% endblock %}
{% block script %}
	<script type="text/javascript" src="{% static 'gallery/js/register.js' %}"></script>
{% endblock %}