.sectiontitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	font-family: $font-primary;
	color: $color-secondary;

	&__title {
		display: flex;
		align-items: center;
		width: 100%;
		white-space: nowrap;
	}

	&__text {
		margin: 0 20px;
		font-size: 3em;
	}

	&__line {
		border-top: 1px solid $color-secondary;
		width: 100%;
		height: 0;
		box-sizing: border-box;
	}

	&__subtitle {
		margin: 0;
		font-size: 1.4em;
	}
}