@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@keyframes pour {
  0% {
    transform: translateY(-200%) rotate(0deg); }
  50% {
    transform: translateY(-100%) rotate(500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

@keyframes empty {
  0% {
    transform: translateY(200%) rotate(0deg); }
  50% {
    transform: translateY(100%) rotate(-500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@keyframes pour {
  0% {
    transform: translateY(-200%) rotate(0deg); }
  50% {
    transform: translateY(-100%) rotate(500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

@keyframes empty {
  0% {
    transform: translateY(200%) rotate(0deg); }
  50% {
    transform: translateY(100%) rotate(-500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@keyframes pour {
  0% {
    transform: translateY(-200%) rotate(0deg); }
  50% {
    transform: translateY(-100%) rotate(500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

@keyframes empty {
  0% {
    transform: translateY(200%) rotate(0deg); }
  50% {
    transform: translateY(100%) rotate(-500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

.actionbar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-radius: 0 0 50px 50px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0 20px;
  overflow: hidden; }
  .actionbar input:focus,
  .actionbar textarea:focus,
  .actionbar select:focus,
  .actionbar button:focus {
    outline: none; }
  .actionbar__nav, .actionbar__search {
    display: flex;
    margin-left: 10px; }
  .actionbar__element {
    transition-duration: 0.2s; }
    .actionbar__element:hover {
      cursor: pointer; }
    .actionbar__element img {
      width: 20px;
      filter: invert(48%) sepia(6%) saturate(19%) hue-rotate(331deg) brightness(88%) contrast(85%);
      transition: filter 0.2s; }
    .actionbar__element--disabled:hover {
      cursor: not-allowed; }
    .actionbar__element--disabled img {
      filter: invert(93%) sepia(0%) saturate(437%) hue-rotate(135deg) brightness(93%) contrast(91%); }
  .actionbar__button {
    border: none;
    background-color: transparent;
    padding: 15px 20px; }
    .actionbar__button:hover:not(.actionbar__element--disabled) {
      position: relative;
      overflow: hidden;
      z-index: 1; }
      .actionbar__button:hover:not(.actionbar__element--disabled) * {
        position: relative;
        z-index: 1; }
      .actionbar__button:hover:not(.actionbar__element--disabled)::before {
        content: "";
        position: absolute;
        bottom: -50%;
        left: -50%;
        width: 200%;
        padding-bottom: 200%;
        background: rgba(16, 181, 243, 0.4);
        border-radius: 40%;
        animation: pour 2s ease-in-out -1.5s;
        z-index: 0; }
      .actionbar__button:hover:not(.actionbar__element--disabled) img {
        filter: invert(100%); }
  .actionbar__label {
    background-color: rgba(16, 181, 243, 0.2);
    margin: 10px 20px 10px 10px;
    padding: 2px 10px 2px 12px;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center; }
    .actionbar__label:hover {
      cursor: text;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      .actionbar__label:hover * {
        position: relative;
        z-index: 1; }
      .actionbar__label:hover::before {
        content: "";
        position: absolute;
        bottom: -50%;
        left: -50%;
        width: 200%;
        padding-bottom: 200%;
        background: rgba(16, 181, 243, 0.2);
        border-radius: 40%;
        animation: empty 2s ease-in-out -1.1s;
        z-index: 0; }
    .actionbar__label input {
      border: none;
      width: 350px;
      background-color: transparent;
      color: #707070;
      /*transition-duration: 0.2s;*/
      font-size: 1.6em;
      font-family: "Cream Cake"; }
      .actionbar__label input:focus {
        /*width: 700px;
					transition-duration: 0.2s;*/ }
    .actionbar__label img:hover {
      cursor: pointer; }

.inputdialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background: #ffffff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; }
  .inputdialog__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #10b5f3;
    border-radius: 20px 20px 0 0;
    padding: 10px 0;
    margin-bottom: 40px;
    width: 100%; }
    .inputdialog__header p {
      color: #ffffff;
      font-family: "Cream Cake";
      font-size: 1.8em;
      margin: 0; }
  .inputdialog__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px 20px;
    box-sizing: border-box; }
    .inputdialog__body .input {
      border: 2px solid #707070;
      border-radius: 9999px;
      width: 600px;
      font-family: "Cream Cake";
      font-size: 1.6em;
      text-align: center;
      padding: 3px 0;
      color: #707070; }
      .inputdialog__body .input::placeholder {
        color: rgba(112, 112, 112, 0.5); }
      .inputdialog__body .input:hover {
        border-color: #10b5f3;
        color: #10b5f3; }
        .inputdialog__body .input:hover::placeholder {
          color: rgba(16, 181, 243, 0.5); }
    .inputdialog__body .button {
      position: relative;
      padding: 10px 26px;
      font-size: 1.7em;
      font-family: "Cream Cake";
      color: #ffffff;
      text-decoration: none;
      background-color: #10b5f3;
      border: 2px solid #10b5f3;
      border-radius: 99999px;
      overflow: hidden;
      z-index: 0; }
      .inputdialog__body .button * {
        border: none;
        background: transparent;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        cursor: inherit;
        margin: 0; }
      .inputdialog__body .button:hover {
        cursor: pointer;
        color: #10b5f3;
        transition: color 0.2s ease-in-out 0s;
        position: relative;
        overflow: hidden;
        z-index: 1; }
        .inputdialog__body .button:hover * {
          position: relative;
          z-index: 1; }
        .inputdialog__body .button:hover::before {
          content: "";
          position: absolute;
          bottom: -50%;
          left: -50%;
          width: 200%;
          padding-bottom: 200%;
          background: #ffffff;
          border-radius: 40%;
          animation: pour 2s ease-in-out -1.5s;
          z-index: 0; }
      .inputdialog__body .button--negative {
        background-color: #ff0000;
        border-color: #ff0000; }
        .inputdialog__body .button--negative:hover {
          color: #ff0000; }
      .inputdialog__body .button--inverted {
        background-color: #ffffff;
        color: #707070;
        border-color: #ffffff; }
        .inputdialog__body .button--inverted:hover {
          color: #ffffff;
          position: relative;
          overflow: hidden;
          z-index: 1; }
          .inputdialog__body .button--inverted:hover * {
            position: relative;
            z-index: 1; }
          .inputdialog__body .button--inverted:hover::before {
            content: "";
            position: absolute;
            bottom: -50%;
            left: -50%;
            width: 200%;
            padding-bottom: 200%;
            background: #10b5f3;
            border-radius: 40%;
            animation: pour 2s ease-in-out -1.5s;
            z-index: 0; }
    .inputdialog__body .input {
      width: 300px; }
    .inputdialog__body .button {
      padding: 4px 26px; }
  .inputdialog__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 100%; }

body {
  overflow-x: hidden; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: 40px; }
  .content .library {
    display: flex;
    align-items: center;
    width: 100%;
    height: 550px;
    overflow: hidden; }
    .content .library .album {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      justify-content: center;
      width: 250px;
      height: 275px;
      background-color: #10b5f3;
      border-radius: 0 30px 30px 0;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      position: absolute;
      transform: translate(-50%, 0);
      left: -50%;
      transition: left 0.2s ease-out 0.1s; }
      .content .library .album--next ~ .album {
        left: 150%; }
      .content .library .album__bgline {
        position: absolute;
        left: 8%;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        transition: width 0.2s ease-out 0s; }
      .content .library .album__cover {
        max-width: 70%;
        max-height: 70%; }
      .content .library .album__title {
        position: absolute;
        left: 50%;
        bottom: 5%;
        transform: translate(-50%, 0);
        font-family: "Cream Cake";
        font-size: 1.6em;
        color: #ffffff;
        transition: font-size 0.1s ease-out 0s; }
        .content .library .album__title--alone {
          position: static;
          left: 0;
          bottom: 0;
          transform: none; }
      .content .library .album--previous {
        left: 10%;
        transition: width 0.1s ease-out 0s, height 0.1s ease-out 0s, left 0.2s ease-out 0.1s; }
      .content .library .album--current {
        width: 500px;
        height: 550px;
        left: 50%;
        transition: left 0.2s ease-out 0.1s, width 0.1s ease-out 0.3s, height 0.1s ease-out 0.3s; }
        .content .library .album--current .album__bgline {
          width: 6px;
          transition: width 0.1s ease-out 0.3s; }
        .content .library .album--current .album__title {
          font-size: 3.2em;
          transition: font-size 0.1s ease-out 0.3s; }
      .content .library .album--next {
        left: 90%;
        transition: width 0.1s ease-out 0s, height 0.1s ease-out 0s, left 0.2s ease-out 0.1s; }
      .content .library .album:hover {
        cursor: pointer; }
  .content .contentnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    position: relative; }
    .content .contentnav__element {
      display: flex;
      align-items: center;
      user-select: none;
      filter: invert(48%) sepia(6%) saturate(19%) hue-rotate(331deg) brightness(88%) contrast(85%); }
      .content .contentnav__element p {
        font-family: "Cream Cake";
        font-size: 1.2em;
        margin-left: 5px;
        margin-right: 5px; }
      .content .contentnav__element img {
        height: 1.2em; }
      .content .contentnav__element--disabled {
        filter: invert(93%) sepia(0%) saturate(437%) hue-rotate(135deg) brightness(93%) contrast(91%); }
      .content .contentnav__element:hover {
        cursor: pointer; }
        .content .contentnav__element.contentnav__element--disabled:hover {
          cursor: not-allowed; }
    .content .contentnav__info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "Cream Cake";
      font-size: 1.8em;
      color: #707070;
      margin: 0; }

/*# sourceMappingURL=library.css.map */