@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@font-face {
  font-family: "Arial Rounded Bold";
  src: url("../fonts/arlrdbd.ttf"); }

@font-face {
  font-family: "Valentime";
  src: url("../fonts/valentime.otf"); }

@font-face {
  font-family: "Cream Cake";
  src: url("../fonts/cream_cake.otf"); }

@keyframes pour {
  0% {
    transform: translateY(-200%) rotate(0deg); }
  50% {
    transform: translateY(-100%) rotate(500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

@keyframes empty {
  0% {
    transform: translateY(200%) rotate(0deg); }
  50% {
    transform: translateY(100%) rotate(-500deg); }
  100% {
    transform: translateY(0) rotate(0deg); } }

.sectiontitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Cream Cake";
  color: #707070; }
  .sectiontitle__title {
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap; }
  .sectiontitle__text {
    margin: 0 20px;
    font-size: 3em; }
  .sectiontitle__line {
    border-top: 1px solid #707070;
    width: 100%;
    height: 0;
    box-sizing: border-box; }
  .sectiontitle__subtitle {
    margin: 0;
    font-size: 1.4em; }

.input {
  border: 2px solid #707070;
  border-radius: 9999px;
  width: 600px;
  font-family: "Cream Cake";
  font-size: 1.6em;
  text-align: center;
  padding: 3px 0;
  color: #707070; }
  .input::placeholder {
    color: rgba(112, 112, 112, 0.5); }
  .input:hover {
    border-color: #10b5f3;
    color: #10b5f3; }
    .input:hover::placeholder {
      color: rgba(16, 181, 243, 0.5); }

.button {
  position: relative;
  padding: 10px 26px;
  font-size: 1.7em;
  font-family: "Cream Cake";
  color: #ffffff;
  text-decoration: none;
  background-color: #10b5f3;
  border: 2px solid #10b5f3;
  border-radius: 99999px;
  overflow: hidden;
  z-index: 0; }
  .button * {
    border: none;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    cursor: inherit;
    margin: 0; }
  .button:hover {
    cursor: pointer;
    color: #10b5f3;
    transition: color 0.2s ease-in-out 0s;
    position: relative;
    overflow: hidden;
    z-index: 1; }
    .button:hover * {
      position: relative;
      z-index: 1; }
    .button:hover::before {
      content: "";
      position: absolute;
      bottom: -50%;
      left: -50%;
      width: 200%;
      padding-bottom: 200%;
      background: #ffffff;
      border-radius: 40%;
      animation: pour 2s ease-in-out -1.5s;
      z-index: 0; }
  .button--negative {
    background-color: #ff0000;
    border-color: #ff0000; }
    .button--negative:hover {
      color: #ff0000; }
  .button--inverted {
    background-color: #ffffff;
    color: #707070;
    border-color: #ffffff; }
    .button--inverted:hover {
      color: #ffffff;
      position: relative;
      overflow: hidden;
      z-index: 1; }
      .button--inverted:hover * {
        position: relative;
        z-index: 1; }
      .button--inverted:hover::before {
        content: "";
        position: absolute;
        bottom: -50%;
        left: -50%;
        width: 200%;
        padding-bottom: 200%;
        background: #10b5f3;
        border-radius: 40%;
        animation: pour 2s ease-in-out -1.5s;
        z-index: 0; }

.sectiontitle {
  margin: 50px 0; }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; }
    .section__content > * {
      margin: 15px; }
    .section__content--row {
      flex-direction: row;
      justify-content: space-around; }

/*# sourceMappingURL=register.css.map */